<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books Collection</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-container">
      <header>
        <p>Hello, <%= user.username.toUpperCase() %></p>
        <h1 class="h1-index">Book Collection</h1>
        <% if (user) { %>
        <% } else { %>
        <a href="/auth/sign-up">Sign Up</a> |
        <a href="/auth/sign-in">Sign In</a>
        <% } %>
      </header>

      <main>
        <ul>
          <% books.forEach(book => { %>
          <li>
            <a class="book-link" href="/books/<%= book._id %>"><h3><%= book.title %></h3></a>
            <p>By <%= book.author %></p>
            </p>
          </li>
          <% }) %>
        </ul>   
      </main>
    </div>
  </body>
</html>
